<!doctype html>
<html lang="en">
  <head>

      <title>NEWS</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

      {{!-- Bootstrap onlin link --}}
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
     
      {{!-- style --}}
      <style>   img { border: 5px dotted rgb(172, 68, 68);}  </style>

  </head>


  <body style="background-color:rgb(0, 0, 0);">

        <div class="row justify-content-center">

            {{#each data}}
                  <div class="card col-md-4 mx-4 my-4" style="width: 18rem;" id="myCard">
                      <img src= "{{this.urlToImage}}" class="card-img-top" id="cardImg" >

                      <div class="card-body">
                            <h4 class="card-title" id="cardTitle" style="color:red;">"{{this.title}}"</h4>
                            <p class="card-text" id="cardDisc" style="color:rgb(0, 217, 255);"><a href="{{this.url}}">{{this.description}} </a></p>
                            <h6 style="color:rgb(114, 97, 97);"> {{this.source.name}} :المصدر </h6>
                           <h6 style="color:rgb(109, 87, 87);"> {{this.publishedAt}} :تارخ النشر  </h6>

                      </div>

                  </div>
            {{/each}}

      </div>



  
  </body>

</html>
